/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #ff6600;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.contact-info {
    text-align: left;
    margin-top: 30px;
}

.contact-info p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: black;
    display: flex;
    align-items: center;
}

.contact-info p strong {
    color: black;
}

.contact-info i {
    margin-right: 15px; 
    color: #ff6600;      
}

.contact-info a {
    color: #ff6600;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 600;
}

.contact-info a:hover {
    text-decoration: underline;
}

