
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}


#footer-1 {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 40px 20px;
}

.footer-widget-link, .footer-widget-services, .footer-widget-subscribe {
    width: 30%;
}


footer h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ff6600;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    color: #ff6600;
}


.footer-separator {
    border-left: 2px solid #fff;
    height: 100%;
    margin: 0 30px;
}


.footer-widget-subscribe .sub {
    font-size: 1rem;
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
}

.subscribe-form .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 80%;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
}

#subs-btn {
    padding: 10px 20px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: background-color 0.3s ease;
}

#subs-btn:hover {
    background-color: #e65c00;
}


#footer-text {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}

#footer-text p {
    margin: 0;
}
